body {
    margin: 0;
    padding: 0;
}


* {
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    animation: App-logo-spin infinite 20s linear;
}

.App-header {
    display: flex;
    flex-direction: column;

/* background-color: #282c34; */
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #fff;

    align-items: center;
    justify-content: center;
}

.App-button {
    width: 60px;
    height: 20px;
    margin-bottom: 20px;

/* color: #fff; */
    border-radius: 20px;
    background-color: #fff;
}
.App-button-group button {
    width: 80px;
    height: 20px;
    margin-bottom: 20px;

/* color: #fff; */
    border-radius: 20px;
    background-color: #fff;
}
.App-button-group button + button {
    margin-left: 20px;
}
.App-link {
    /* color: #61dafb; */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
